body {
    background-image: linear-gradient(to right, white 0%, rgb(240, 240, 240) 30%);
    background-attachment: fixed;
    background-size: cover;
    color: #2f420d;
    font-size: 16px;
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

/************Header******************/

header {
    width: 100%;
    background-image: linear-gradient(to right, white 0%, rgb(240, 240, 240) 30%);
    padding: 1.5% 4%;
}
.row-header {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#logo {
    width: 100px;
    display: inline-block;
}
.vertical-line {
    border-left: 2px solid #2f420d;
    height: 85px;
    vertical-align: top;
    margin: 0 10px 0 10px;
    display: inline-block;
}
#site-name {
    display: inline-block;
    vertical-align: bottom;
}
.sub-name {
    text-transform: uppercase;
    letter-spacing: 0.8455em;
}
nav {
    display: inline-block;
    float: right;
    margin-top: 2.9em;
}
.nav-item{
    display: inline-block;
    margin-left: 33px;
}
.nav-link {
    padding: 7px 12px;
    color: #2f420d;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    transition: 0.2s ease-in-out;
    background-color: transparent;
    border-bottom: 2px solid transparetn;
}
.nav-link:hover {
    text-decoration: none;
    color: #2f420d;
    border-bottom: 2px solid #2f420d;
}

#hamburger-menu {
    display: none;
    float: right;
    margin-top: 2.1em;
}
.fa-bars {
    color: #2f420d;
}
.fa-bars:hover {
    color: #DAF0B2;
    cursor: pointer;
}
#menu-bar {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 130px;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-500px, 0);
    transform: translate(-500px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}
#menu-bar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    float:left;
}
.bar-item {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1.8em;
    padding: 20px 40px;
    margin: 20px 0;
    display: inline-block;
    width:100%;
}
.bar-item:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}



/******Main content **********************/

.invisible {
    display: none;
}
.hiddens {
    opacity: 0;
}
.deviding-line {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 3px;
    /* background-color: #2f420d; */
    background-image: linear-gradient(to right,  #2f420d 0%, white 70%);
}
.deviding-line-reverse {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 3px;
    background-image: linear-gradient(to left,  #2f420d 0%, white 70%);
}

main {
    width: 100%;
    padding: 0;
    margin:0;
}



/*******About me ****************/

.section-title{
    font-size: 2.5em;
    width: 100%;
    text-align: center;
}
#about-me {
    background-image: linear-gradient(to left, white 0%, rgb(240, 240, 240) 70%);
    height: 85vh;
    padding: 3%;
    margin: 0;
}
.who-am-i, .my-skills {
    box-shadow: 2px 2px 26px 1px rgb(202, 202, 202);
    display: block;
    font-size: 1.4em;
    width: 80%;
    margin: 2% auto 0 auto;
    background-color: white;
    padding: 20px;
}
.img-portrait {
    border-radius: 50%;
    width: 500px;
    display: inline-block;
}
.info {
    display: inline-block;
}
.icon-info {
    color: #DAF0B2;
    margin-right: 25px;
}
.info-title {
    text-transform: uppercase;
    font-weight: 400;
}
.deviding-line-middle {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 133px;
    background-color: #DAF0B2;
}

/****************Projects******************/

#projects {
    width: 100%;
    max-width:100%;
    background-color: white;
    padding-bottom: 70px;
}
#projects-title {
    width: 100%;
    padding: 70px 0;
}
#main-top {
    background-color: snow;
    width: 100%;
    height: 127px;
    margin: 0;
    padding: 0;
}
.row {
    margin:0;
    padding:0;
}
#main-bottom {
    background-color: snow;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 79px;
}
.middle-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.65em;
    font-size: 2em;
}

#projects-item {
    width: 100%;
    margin: 0 auto;
}
.row-proj{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.col-md-6, .col-md-12 {
    text-align: center;
    margin-bottom: 2.7em;
}
.icon {
    margin: 0 10px;
}
.img-project1 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/pxl.jpg);
}
.img-project2 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/mandarine-villa.png);
}
.img-project3 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/memory-game.png);
}
.img-project4 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/author_quiz.png);
}
.img-project5 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/arcade-game.png);
}
.img-project6 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) ), url(images/my-reads.png);
}

.img-project {
    width: 80%;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.caption {
    position: absolute;
    bottom: -500px;
    width: 100%;
    text-align: center;
    padding: 0 3%;
    margin: auto;
    transition: 0.4s ease;
}
.img-project p {
    font-size: 2em;
    text-align: center;
    color: #DAF0B2;
    display: block;
}
.img-project p small {
    font-size: 0.6em;
}
.img-project button {
    display: block;
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    color: #DAF0B2;
    border: 1px solid #DAF0B2;
    border-radius: 2px;
    font-size: 1.5em;
}
.img-project button:hover {
    background-color: rgba(0,0,0,0);
    color: #DAF0B2;
    border: 1px solid #DAF0B2;
    box-shadow: 0 0 7px 2px #DAF0B2;
    border-radius: 2px;
    font-size: 1.5em;
}
.btn-more a {
    color: #DAF0B2;
    text-decoration: none;
}
/******Contact Me*******************/



#contact-me {
    margin: 0 auto;
    width: 100%;
    background-color: #DAF0B2;
    padding: 3% 0;
}
form {
    margin: 25px 0 0 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.contact-header {
    background-color: #fff;
    color: #2f420d;
    text-transform: uppercase;
    letter-spacing: 0.65em;
    display: inline-block;
    padding: 16px 30px;
    width: 100%;
    text-align: center;
}
.fa-envelope {
    color: #2f420d;
    margin-right: 15px;
}
.btn {
    background-color: white;
    color: #2f420d;
    padding: 16px 30px;
    transition: 0.2 ease;
}
.btn:hover {
    color: white;
    background-color: #2f420d;
}





/*******Footer****************/

footer {
    width: 100%;
    background-image: linear-gradient(to right, rgb(240, 240, 240) 0%, white 30%, rgb(240, 240, 240) 80%);
    /* background-image: url(images/footer.png); */
    padding: 30px 0 10px 0;
    position: relative;
    bottom: 0;
}
.row-footer {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.footer-name {
    text-transform: uppercase;
    letter-spacing: 0.65em;
    margin-bottom: 25px;
}
.icons i {
    display: inline-block;
    color: #2f420d;
    margin-right: 15px;
}
.icons i:hover {
    color: #DAF0B2;
    cursor: pointer;
}
#bottom {
    margin: 0;
    padding-left: 5%;
}

#bottom a{
    text-decoration: none;
    color: inherit;
    font-weight: 900;
}

@media screen and (max-width: 1225px) {
    .top-text {
        letter-spacing: 0.2em;
        font-size: 3.5em;
    }
}
@media screen and (max-width: 968px) {
    #contact-me{
        width:100%;
    }
    nav {
        display: none;
    }
    #hamburger-menu {
        display: inline-block;
    }
}
